---
import { Image } from 'astro:assets'
import * as Lucide from 'lucide-astro'
import astroLogo from '#/assets/astro.svg'
import background from '#/assets/background.svg'
---

<div class="size-full">
  <img
    src={background.src}
    class="fixed top-0 left-0 w-full h-full -z-10 blur-[100px]"
    fetchpriority="high"
    alt="Background"
  />
  <main class="size-full flex flex-col items-center justify-center">
    <section class="flex items-start flex-col justify-center p-4 md:block">
      <a href="https://astro.build">
        <Image src={astroLogo} width="115" height="48" alt="Astro Homepage" loading="lazy" />
      </a>
      <h1 class="text-[22px] mt-1 leading-6">
        To get started, open the <code
          class="inline-block bg-gradient-to-tr from-[#f3cddd] to-[#f5cee7] rounded-lg border border-transparent p-[6px_8px]"
          ><pre
            class="font-mono font-normal bg-gradient-to-r from-[#d83333] to-[#f041ff] bg-clip-text text-transparent m-0">src/pages</pre></code
        > directory in your project.
      </h1>
      <section class="flex gap-4 flex-wrap mt-4">
        <a
          href="https://docs.astro.build"
          class="flex items-center px-3 py-2.5 text-white bg-gradient-to-r from-[#3245ff] to-[#bc52ee] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.12),inset_0_-2px_0_rgba(0,0,0,0.24)] rounded-[10px] hover:text-gray-200 hover:shadow-none transition-colors duration-200 md:px-[18px]"
          rel="noreferrer noopenner"
          target="_blank"
        >
          Read Astro docs
        </a>
        <a
          href="https://github.com/zero-one-group/monorepo"
          class="flex items-center px-3 py-2.5 text-gray-900 hover:text-gray-600 transition-colors duration-200"
          rel="noreferrer noopenner"
          target="_blank"
        >
          <span>Star on GitHub</span>
          <Lucide.ExternalLink class="ml-1.5" size="16" />
        </a>
      </section>
    </section>
  </main>
</div>
