build/
dist/
temp/
tmp/
_data/
.data
.dist
.build
.output
.react-router
.wrangler
.cache
.github
.husky
.strapi
.astro/
.temp/
.tmp/
.unikraft
.vscode
.DS_Store
.DS_Store?
.dockerignore
.sentryclirc
degit.json
Containerfile
Dockerfile
compose.env*
node_modules
npm-debug.log
slim.report.json
playwright-report/
tests-results/
vendor/
testdata/
template-*/
.playwright/
.moon/cache
.moon/docker
.env.*
!.env.example
.git
.gitignore
*.sqlite*
*.sqlite3*
*.db*
*.log
*.md
