.moon/cache
build/
tmp/
dist/
docs
target/
.next/
.output/
.fleet/
.husky/
.github/
.rollup.cache/
.vite-inspect/
.vscode/
.DS_Store
.DS_Store?
Dockerfile
node_modules
npm-debug.log
docker-compose*.yml
compose-*.yml
*tsbuildinfo*
degit.json
*.log
*.md
.env*
_docs/
backend/public/*
!backend/public/.gitkeep
