# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.husky/
.output/
.pnpm-store
.vite-inspect/
node_modules/
build/
dist/
dist-ssr/
vendor/
*.local
temp/
tmp/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.idea
.DS_Store
.DS_Store?
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# envars
.env*
!.env.*example

# moon
.moon/cache
.moon/docker

# Specific directories for individual projects
