# @see: https://pnpm.io/npmrc#update-notifier
update-notifier=false

# @see: https://pnpm.io/npmrc#link-workspace-packages
# @see: https://pnpm.io/npmrc#prefer-workspace-packages
link-workspace-packages=false
prefer-workspace-packages=false

# @see: https://pnpm.io/npmrc#hoist
hoist=true
hoist-workspace-packages=true

# @see: https://pnpm.io/npmrc#shamefully-hoist
shamefully-hoist=true

# Use `hoisted` to set a flat node_modules without symlinks is created.
# Set symlink to false to disable symlinks.
# https://pnpm.io/npmrc#node-linker
node-linker=isolated
symlink=true

# Controls the way packages are imported from the store
# (if you want to disable symlinks inside node_modules,
# then you need to change the node-linker setting, not this one).
# @see: https://pnpm.io/npmrc#package-import-method
package-import-method=auto
