@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply size-full min-h-screen antialiased scroll-smooth;
  }
}

@layer utilities {
  /* Debug element */
  .debug {
    border-width: 1px;
    border-style: dashed;
    border-color: #f87171;
  }
}
