SERVICE_NAME={{ package_name | kebab_case }}
APP_ENVIRONMENT=local
APP_HOST=127.0.0.1
APP_PORT=8080
DATABASE_URL=postgres://postgres:securedb@pgsql:5432/myorg?sslmode=disable
CORS_ALLOW_ORIGINS=https://api.example.com

OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317

