SERVICE_NAME=go-app
APP_ENVIRONMENT=local # local | development | testing | staging | production
APP_HOST=127.0.0.1
APP_PORT=8000
DATABASE_URL=postgres://postgres:securedb@localhost:5432/postgres?sslmode=disable
CORS_ALLOW_ORIGINS=https://api.example.com

# Logging Configuration
LOG_LEVEL=DEBUG # DEBUG | INFO | WARN | ERROR (auto-configured per environment if not set)

ENABLE_INSTRUMENTATION=false
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
TRACING_SAMPLE_RATE=0.7 # 0.0-1.0

JWT_SECRET=supersecret
JWT_TOKEN_EXPIRY_MINUTES=1440
ENABLE_SWAGGER=true
